h4,
h5,
h6,
h1,
h2,
h3 {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100%;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    color: #fff3ea;
}

.center {
    margin-top: 4vh;
}

.new {
    display: block;
}


/*****************************************************
CSS for Logo and Logo-div.
*****************************************************/

.logo {
    float: left;
    display: inline;
    margin-left: 15vw;
    margin-bottom: 5vh;
    max-height: 15vh;
    max-width: 15vw;
}

.logo h1 {
    font-size: 7em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}

.logo h1 a {
    color: #fff;
}

.logo h1 a:hover {
    text-decoration: none;
}

.topindex {
    max-height: 15vh;
}


/*****************************************************/

.boxshop{
    padding-left:2vw;
    padding-right:2vw;
    
}

/*****************************************************
CSS for category title on each page.
*****************************************************/

.top-name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    text-align: center;
    color: #fff3ea;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*****************************************************/


/*****************************************************
CSS for welcome-text.
*****************************************************/

.welcometext {
    margin-top: 10vh;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 65vw;
    padding: 5em;
    background-color: rgba(249, 217, 190, 0.1);
    text-align: center;
}

.welcometext h2,
h3 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*****************************************************/


/*****************************************************
CSS for box-div. 
*****************************************************/

.box {
    background-color: rgba(249, 217, 190, 0.1);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    color: #fff3ea;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
}



.box a:hover {
    color: white;
}


/*****************************************************/


/*****************************************************
CSS for brand.
*****************************************************/

.brand {
    max-height: 50vh;
    overflow: scroll;
}

.imgmax {
    max-height: 20vh;
    background-color: black;
    margin-bottom: 3vh;
}

.menu {
    padding-top: 5vh;
    float: right;
    margin-right: 15vw;
}


/*****************************************************/


/***************************************************** 
CSS for Social-top div and social-img.
*****************************************************/

.social {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff3ea;
    z-index: 1;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgba(249, 217, 190, 0.1);
}

.socialimg {
    max-height: 3vh;
    max-width: 2vw;
    display: inline;
}

.social a:hover {
    color: white;
}

.boxright{
    float:right;
    margin-top:2vh;
}

.boxleft{
    float:left;
    margin-top:2vh;
}

/*****************************************************/

/*****************************************************
CSS for Webshop.
*****************************************************/
.shopbox{
    padding-left:2vw !important;
    padding-right:2vw !important;
}

.spinner-input{
    background-color: transparent !important;
}

.onecom-webshop-main .spinner .btn.btn-down {
    border-right: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwI…M1Vi4yNThoNi4zM3oiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-color: transparent;
    color: #fff3ea;
}

.onecom-webshop-main .show {
    display: block!important;
    background-color: transparent;
}

.onecom-webshop-main .spinner .btn.btn-up {
    border-left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwI…44MDNWLjY2N2guOTV6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    background-color: transparent;
    color: #fff3ea;
}

.onecom-webshop-main dropdown .dropdown-component .selected{
    background-color: transparent !important;
    color: #fff3ea !important;
    border-radius: 25px;
}

.selected-text{
    color: #fff3ea !important;
}

.dropdown-component a:hover{
    background-color:rgba(195, 118, 55, 0.3) !important;
    
}

.onecom-webshop-main .checkout .order-details .order-detail-well{
    background-color: rgba(249, 217, 190, 0.3) !important;
    color: #fff3ea !important;
    border-color: #fff3ea !important;
    border-radius: 25px;
}
#shippingEmail, #shippingFirstName, #shippingLastName, #shippingAddress, #shippingZip, #shippingCity, #shippingPhoneNumber, #shippingCompany, #shippingCountry{
    background-color:rgba(249, 217, 190, 0.3) !important;
    border-radius: 10px;
    border-color: #fff3ea !important;
    color: #fff3ea !important;
}

.onecom-webshop-main .checkout .shipping-address-section .custom-notes textarea{
    background-color:rgba(249, 217, 190, 0.3) !important;
    border-radius: 10px;
    border-color: #fff3ea !important;
    color: #fff3ea !important;
}

.onecom-webshop-main .spinner .btn.btn-down{
    border-color: #fff3ea !important;
    color: #fff3ea !important;
     background-color:rgba(249, 217, 190, 0.3) !important;
}

.onecom-webshop-main .spinner .btn.btn-up{
    border-color: #fff3ea !important;
    color: #fff3ea !important;
     background-color:rgba(249, 217, 190, 0.3) !important;
}

.onecom-webshop-main .button.button-checkout, .onecom-webshop-main .button.button-continue, .onecom-webshop-main .button.button-pay, .onecom-webshop-main .button.button-seemore, .onecom-webshop-main .button.button-back, .onecom-webshop-main .product .info .button-addtocart, .input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child){
    background-color:rgba(249, 217, 190, 0.3) !important;
    border-radius: 10px;
    border-color: #fff3ea !important;
    color: #fff3ea !important;
}

::-webkit-input-placeholder{
    color:#fff3ea !important;
}


/*****************************************************/


.contactform{
    background-color:rgba(249, 217, 190, 0.3) !important;
    border-radius: 10px;
    border-color: #fff3ea !important;
    color: #fff3ea !important;
    width:80%;
    margin-top:1vh;
    margin-bottom:1vh;
}

.contactlist{
    list-style:none;
    text-align:left;
}

.contactleft{
    margin-top:3vh;
   
}

.contactbtn{
    background-color:rgba(249, 217, 190, 0.3) !important;
    border-radius: 10px;
    border-color: #fff3ea !important;
    color: #fff3ea !important;
    margin-top:1vh;
}

.contactimg{
  
    max-height:100px;
}

/*****************************************************
CSS for footer.
*****************************************************/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff3ea;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgba(249, 217, 190, 0.1);
}


/*****************************************************/


/***************************************************** 
CSS for video-background
*****************************************************/

article {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}


/*****************************************************/


/*****************************************************
CSS for smartphones.
*****************************************************/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .menu {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }
    .top-name {
        display: none;
    }
    .logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        display: none;
    }
    .brand {
        max-height: none;
        max-width: 90vw;
    }
    .box {
        max-width: 90vw;
    }
    .social {
        position: absolute;
        top: 0;
        left: 0;
    }
    .topindex{
        margin-left: auto;
        margin-right: auto;

    }
    .center {
        margin-top: 5vh;
        text-align: center;
    }
}


/**************************************************************/


/*************************************************************
CSS for Tablets.
*************************************************************/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .menu{
        margin-left: auto;
        margin-right: auto;
        float:none;
        text-align:center;
    }
    .logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .topindex{
        margin-left: auto;
        margin-right: auto;

    }
    .center {
        margin-top: 5vh;
        text-align: center;
    }

    
}